<!DOCTYPE html>
<html lang="kr">
<head>
{{> /include/header}}
</head>
<body>

{{> /include/navigation}}

<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th> <th>사용자 아이디</th> <th>이름</th> <th>이메일</th><th></th>
                </tr>
              </thead>
              <tbody>
              	{{#users}}
                <tr>
                    <th scope="row">{{id}}</th> 
                    <td>{{userId}}</td> 
                    <td>{{name}}</td> 
                    <td>{{email}}</td>
                    <td><a href="/users/{{id}}/form" class="btn btn-success" role="button">수정</a></td>
                </tr>
                {{/users}}
              </tbody>
          </table>
        </div>
    </div>
</div>

{{> /include/script}}

	</body>
</html>